body {
  background-color: #e0c9a6;
  padding-top: 2%;
  font-size: 125%;
  font-family: 'Be Vietnam Pro', 'Kanit', sans-serif;
}

ul {
  list-style-type: none;
}

#address {
  width: 80%;
  margin: 0 auto;
}

#price {
  margin: auto 0;
  color: #00794c;
}

ul,
ol {
  font-size: 125%;
}

/* #extra-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 95%;
} */

#staff-note {
  margin-top: 5%;
  margin-bottom: 0;
}

#extra-en {
  width: 20%;
}

li.row {
  list-style-type: decimal;
}

#extra-en {
  height: 83%;
}

#drinks-en {
  height: 91%;
}

#noodles-en {
  height: 14rem;
}

#toppings-en {
  height: 15rem;
}
